#header {
    margin-bottom: 30px;
}

#booking-status {
    display: none;
}

.bo-don-than-img {
    width: 25vh;
    height: 23vh;
    object-fit: cover;
}

.btn-gradient {
    background: linear-gradient(45deg, #0D6EFD, #0040a0);
    border: none;
    color: white;
}

.btn-gradient-yellow {
    background: linear-gradient(45deg, #f9fd0d, #a08800);
    border: none;
    color: white;
}

#logo-text {
    text-decoration: none;
    font-size: 2rem;
}

#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 30vh;
    overflow-y: auto;
    z-index: 1000;
}

#sidebar-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#sidebar-icon .btn {
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.pagination .page-item.active .page-link {
    background-color: #007bff; /* Adjust this color as needed */
    color: white; /* Adjust text color */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Disabled color */
    pointer-events: none; /* Prevent clicks */
}

.pagination .page-item .page-link {
    color: #007bff; /* Default link color */
}