#header {
    margin-bottom: 30px;
}

.bo-don-than {
    margin-bottom: 25px;
}

#booking-status {
    display: none;
}

.bo-don-than-img {
    width: 12vw;
    height: 10vw;
    object-fit: cover;
}