#header {
    margin-bottom: 30px;
}

#booking-status {
    display: none;
}

.bo-don-than-img {
    width: 25vh;
    height: 23vh;
    object-fit: cover;
}

.btn-gradient {
    background: linear-gradient(45deg, #0D6EFD, #0040a0);
    border: none;
    color: white;
}

#logo-text {
    text-decoration: none;
    font-size: 40px;
}